# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/Frontend/node_modules
src/Backend/node_modules
src/Frontend/.pnp
src/Frontend/.pnp.js

# testing
src/Frontend/coverage

# production
src/Frontend/build
src/Backend/build

# misc
src/Frontend/.DS_Store
src/Frontend/.env.local
src/Frontend/.env.development.local
src/Frontend/.env.test.local
src/Frontend/.env.production.local

src/Frontend/npm-debug.log*
src/Frontend/yarn-debug.log*
src/Frontend/yarn-error.log*

.env
.env.production
